<!Doctype html>
<html>
<head>


<meta charset="utf-8" />

<title>
	Joe's Web Garage
</title>
<link rel="stylesheet" href="/stylesheets/crop.css" type="text/css">
<script src="/stylesheets/js/jquery.min.js"></script>
<script src="/stylesheets/js/jquery.Jcrop.min.js"></script>
<link rel="stylesheet" href="/stylesheets/css/jquery.Jcrop.css" type="text/css" />
<style>

#crop {
    display: block;
    width:200px;
    border:2px solid #dadada;
    border-radius:7px;
    font-size:20px;
    padding:5px;
    margin: 10px;
    margin-top:10px;
        
}


#crop:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}​

</style>
</head>
<body>
<script language="Javascript">
	jQuery(document).ready(function(){

	jQuery('#target').Jcrop({
			onChange: showCoords,
			onSelect: showCoords,
                        minSize: [270, 200],
                        setSelect: [292, 42, 562, 242],
			aspectRatio: 1.35  
			});

			});

			// Simple event handler, called from onChange and onSelect
			// event handlers, as per the Jcrop invocation above
	function showCoords(c)
		{
			jQuery('#x1').val(c.x);
			jQuery('#y1').val(c.y);
			jQuery('#x2').val(c.x2);
			jQuery('#y2').val(c.y2);
			jQuery('#w').val(c.w);
			jQuery('#h').val(c.h);
		};
</script>

<div style="display:block;">			
    <form id="coords"
      class="coords"
      action="/generate"
      method="post" >

      <div>
      <label>X1 <input type="text" size="4" id="x1" name="x1" /></label>
      <label>Y1 <input type="text" size="4" id="y1" name="y1" /></label>
      <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
      <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
      <label>W <input type="text" size="4" id="w" name="w" /></label>
      <label>H <input type="text" size="4" id="h" name="h" /></label>
      
   


     <img id="target" src="/image"/>
     <input type="submit" value="Crop Me" id="crop"> 
   </form>
</div>
</body>
</html>

